/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.div-logo img {
    height: auto;
    width: 32%;
    margin-top: 10px;
}


.bouton-nav {
    border-top: 3px solid transparent;
    padding-top: 14px;
    padding-bottom: 14px;
    /* j'augmente la surface cliquable grace au padding-bottom, le top est juste pour la barre bleue au dessus */
}

.bouton-nav:hover {
    padding-top: 14px;
    border-top-color: #0065FC;
    color: #0065FC;

}

ul {
    display: flex;
    list-style: none;
    gap: 75px;

}

.formulaire-filtres {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.formulaire-filtres p {
    margin-top: 8px;
}

.formulaire {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 14px;
    overflow: hidden;
    gap: 0;
    margin-top: 16px;
    width: fit-content;

}

.map-icon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;


}

.map-icon i {
    color: black;

}

#input-id {
    border: none;
    outline: none;
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 700;
    width: 195px;
    text-align: center;
}

#input-id::placeholder {
    color:black;
}

.bouton-recherche {
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 16px;
    border: 1px solid #0065FC;
    /* Pourquoi la bordure reste grise ?? */

    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.bouton-recherche i {
    color: white;
    display: none;
}

.filtres {
    display: flex;
    gap: 20px;
    margin: 32px 0;
    align-items: center;
}

.filtres h2 {
    font-size: 19px;
    margin: 0;
}

.bouton-filtres {
    border: 2px solid #D9D9D9;
    border-radius: 60px;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 11px;
    cursor: pointer;

}

.bouton-filtres i {
    font-size: 20px;
}

.bouton-filtres:hover {
    background-color: #DEEBFF;
}

.info {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   display: flex;
   flex-direction: column;
    
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2px 28px;

}



.hebergements-cards a {
    width: 31%;
    margin-top: 30px;
   
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}


.hebergements-cards .card-content {
    width: 100%;
    padding-left: 12px;
    

    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    margin-top: 22px;
    padding: 6px;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    width: 100%;
    margin-top: 60px;

    }

.activites h2 {
    margin-left: 28px;
    margin-bottom: 4px;
}

.activites-cards {
    display: flex;
    justify-content: space-evenly;
    gap:8px;

}

.activites-cards a {
    width: 22.2%;
    margin-top: 30px;
   
}

.activites-cards img  {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    
}

.activites-cards .card-content {
    width: 100%;
    padding: 3px 16px;
    box-sizing: border-box;
}

.activites-cards .card {
    padding: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}