/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Header ***********/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    align-items: center;
    padding-top: 5px;
}

.div-logo img {
    height: auto;
    width: 61px;
    margin-top: 10px;
}


.bouton-nav {
    border-top: 3px solid transparent;
    padding-top: 16px;
    padding-bottom: 14px;
    /* j'augmente la surface cliquable grace au padding-bottom, le top est juste pour la barre bleue au dessus */
}

.bouton-nav:hover {
    border-top-color: #0065FC;
    color: #0065FC;

}

ul {
    display: flex;
    list-style: none;
    gap: 75px;

}

/****** Formulaire ***********/
.formulaire-filtres {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.formulaire-filtres p {
    margin-top: 8px;
}

.formulaire {
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    height: 50px;
    border-radius: 14px;
    overflow: hidden;
    margin-top: 16px;
    width: fit-content;

}

.map-icon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;


}

.map-icon i {
    color: black;

}

#input-id {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    width: 219px;
    text-align: center;
}

#input-id::placeholder {
    color: black;
}

.bouton-recherche {
    height: 50px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 0px 16px;
    border: 1px solid #0065FC;
    /* Pourquoi la bordure reste grise ?? */

    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

.bouton-recherche i {
    color: white;
    display: none;
}

.filtres {
    display: flex;
    gap: 20px;
    margin: 32px 0;
    align-items: center;
}

.filtres h2 {
    font-size: 19px;
    margin: 0;
}

.bouton-filtres {
    border: 2px solid #D9D9D9;
    border-radius: 60px;
    padding: 13px 19px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    cursor: pointer;

}

.bouton-filtres i {
    font-size: 20px;
}

.bouton-filtres:hover {
    background-color: #DEEBFF;
}

.info {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.info i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;

}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;

}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2px 28px;
    box-sizing: border-box;

}



.hebergements-cards a {
    flex: 0 0 calc((100% - 2 * 28px)/3);
    margin-top: 30px;

}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}


.hebergements-cards .card-content {
    width: 100%;
    padding-left: 12px;


    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    margin-top: 22px;
    padding: 6px;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    width: 100%;
    margin-top: 60px;

}

.activites h2 {
    margin-left: 28px;
    margin-bottom: 4px;
}

.activites-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;

}

.activites-cards a {
    width: 22.2%;
    margin-top: 30px;

}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;

}

.activites-cards .card-content {
    width: 100%;
    padding: 3px 16px;
    box-sizing: border-box;
}

.activites-cards .card {
    padding: 0;
}

/****** Footer ***********/

footer {
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 50px;
    display: flex;
    box-sizing: border-box;

}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    padding: 20px;
}

.footer-section h3 {
    margin: 0;
}

.footer-section a {
    width: fit-content;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-wrap: wrap;

    }

    .filtres h2 {
        flex-basis: 100%;

    }

    .bouton-filtres {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 31.67%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card-rating {
        display: flex;
        gap: 1px;
        margin-bottom: 10px;
    }

    .activites-cards img {
        height: 210px;
    }

    .activites-cards .card-content {
        height: 70px;
        display: flex;
        align-items: center;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0 16px;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 -16px;
    }

    .div-logo {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;

    }

    .div-logo img {
        width: 61px;
        height: auto;
    }

    nav {
        width: 100%;
        margin-bottom: 14px;
    }

    ul {
        padding: 0;
        gap: 0;

    }

    li {
        flex: 1;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #D9D9D9;
    }

    li:hover {
        border-bottom-color: #0065FC;
    }

    .bouton-nav {
        border-top: 0;

    }

    .bouton-nav:hover {
        border-top-color: transparent;
        color: #0065FC;

    }


    .formulaire {
        justify-content: center;
        align-self: center;
        width: 100%;
        overflow: visible;

    }

    .map-icon {
        flex: 0 0 50px;
        border-radius: 12px 0 0 12px;
    }

    #input-id {
        width: auto;
        min-width: 0;
        flex: 1 1 180px;
    }

    .bouton-recherche {
        border-radius: 12px;
        padding: 0;
        flex: 0 0 50px;
        box-shadow: 1px 2px 5px #888888;

    }

    .bouton-recherche i {
        display: inline;
    }

    .bouton-recherche span {
        display: none;
    }

    .filtres {
        gap: 10px;
    }

    .filtres h2 {
        margin-bottom: 10px;
    }

    .bouton-filtres {
        flex: 1 1 45%;
        justify-content: flex-start;
        font-size: 14px;

    }

    .info i {
        min-width: 24px;
    }

    .info p {
        margin-bottom: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        margin: 0 -16px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 15px;

    }



    .hebergements-and-populaires .populaires {
        width: 100%;
        order: 1;
        padding-bottom: 30px;
    }

    .populaires-title {
        margin-bottom: 20px;
        margin-top: 18px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .populaires-cards .card-title {
        font-size: 15px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .populaires-cards .card {
        width: 100%;
        max-width: 100%;
        border-radius: 15px;
        margin-top: 0;
        box-sizing: border-box;
    }

    .populaires-cards img {
        border-radius: 15px 0 0 15px;
    }

    .populaires-cards a {
        width: 100%;
        max-width: 100%;
    }

    .hebergements {
        width: 100%;
        order: 2;
    }

    .hebergements h2 {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .hebergements-cards {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 18px;
    }

    .hebergements-cards a {
        margin-top: 0;
    }

    .afficher-plus {
        margin-top: 12px;
    }


    .activites h2 {
        margin-left: 14px;
        margin-bottom: 16px;
        margin-top: 70px;
    }

    .activites-cards {
        flex-direction: column;
        align-items: center;
        gap:0px
    }

    .activites-cards a {
        width: 94%;
        margin-top: 16px;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .card-content {
        height: 59px;
    }


    footer {
        margin-top: 60px;
        flex-direction: column;
        gap: 30px;
        padding-top: 10px;
    }

    .footer-section {
        margin-left: 15px;
    }

    .div-footer {
        margin: 0 -16px;
    }

}